* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* shared text color */
.shared-text-color,
.games-btn {
    color: #0B0223;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container a {
    text-decoration: none;
    margin-right: 30px;
    background: #FFF;
}

.nav-logo-title,
.nav-menus {
    width: 50%;
    text-align: center;
}

.nav-logo-title {
    display: flex;
    align-items: center;
    margin-left: 150px;
    gap: 20px;
}

.nav-logo-title img {
    width: 60px;
}

.nav-logo-title h3 {
    font-size: 35px;
    font-weight: 700;
}

.nav-menus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C354F;
    font-size: 15px;
    font-weight: 600;
}

.nav-menus a img {
    width: 20px;
    padding-left: 10px;
}

.nav-follow-us {
    border-radius: 8px;
    padding: 10px;
}

.banner-container {
    display: flex;
    height: 450px;
}

.banner-text {
    width: 40%;
    background-image: url("/images/Group\ 14.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 140px;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-ul {
    list-style: none;
    padding-bottom: 10px;
}

.banner-li {
    padding-bottom: 10px;
}

.banner-img {
    width: 40%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.banner-title {
    font-size: 48px;
    font-weight: 600;
}

.banner-goat {
    font-size: 65px;
    font-weight: 800;
}

.banner-goat-effect {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.sign-in {
    cursor: pointer;
    padding: 16px 20px;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

.go-rouge {
    cursor: pointer;
    padding: 16px 20px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.online-games-container,
.play-games-container {
    width: 80%;
    margin: auto;
    margin-bottom: 70px;
}

.online-games-title {
    text-align: center;
    margin-top: 100px;
}

.online-games-header {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.online-games-desc {
    text-align: center;
    padding: 24px 0px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.online-games-images {
    display: flex;
    gap: 16px;
    height: 300px;
    justify-content: center;
}

.online-games-image-1,
.img-text {
    color: #534C64;
    font-size: 12px;
    font-weight: 500;
    width: 220px;
    height: 280px;
}

.img-hover-div {
    position: relative;
}

.img-hover-div:hover .play {
    display: block;
    cursor: pointer;
}

.play {
    position: absolute;
    display: none;
    top: 0%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
    opacity: 0.6;
}
.play button{
    border: 2px solid #e04fa6;
    border-radius: 8px;
    width: 220px;
    height: 280px;
    cursor: pointer;
    filter: brightness(40%);
}
.watch-now{
    font-size: 20px;
    color: #F948B2;
    font-weight: 700;
    opacity: 1;
    margin-top: 170px;
    margin-left: 54px;
}

.play-games-container {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.play-games-img {
    width: 50%;
    position: relative;
}

.play-games-img img {
    width: 82%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.play-games-desc {
    width: 50%;
    padding-left: 100px;
}

.play-games-desc h2 {
    font-size: 40px;
    font-weight: 700;
}

.play-games-desc p {
    color: #534C64;
    font-size: 12px;
    font-weight: 400;
    margin: 5px;
    width: 400px;
}

.play-games-img-2 {
    width: 46%;
    height: 50%;
    position: absolute;
    left: 70%;
    top: 60%;
}

.games-section {
    height: 300px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.games-container {
    margin: 100px 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 100px;
}

.games-btn {
    cursor: pointer;
    width: 150px;
    border-radius: 50px;
    background: #FFF;
    border: none;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.games-btn img {
    width: 30px;
}

.games-btn:hover {
    border: 1px solid #FF42A5;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-container {
    background-color: #0B0223;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-logo-title img {
    width: 60px;
    height: 30px;
}

.footer-G {
    font-size: 40px;
    font-weight: 800;
}

.footer-title-color {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}

.footer-sections a {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding-right: 30px;
}

.footer-icons a img {
    width: 30px;
    padding-right: 30px;
}

.footer-policies a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-weight: 500;
}