* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* shared text color */
.shared-text-color {
    color: #0B0223;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container a {
    text-decoration: none;
    margin-right: 30px;
    background: #FFF;
}

.nav-logo-title,
.nav-menus {
    width: 50%;
    text-align: center;
}

.nav-logo-title {
    display: flex;
    align-items: center;
    margin-left: 150px;
    gap: 20px;
}

.nav-logo-title img {
    width: 60px;
}

.nav-logo-title h3 {
    font-size: 35px;
    font-weight: 700;
}

.nav-menus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C354F;
    font-size: 15px;
    font-weight: 600;
}

.nav-menus a img {
    width: 20px;
    padding-left: 10px;
}

.nav-follow-us {
    border-radius: 8px;
    padding: 10px;
}

.banner-container {
    display: flex;
    height: 450px;
}

.banner-text {
    width: 40%;
    background-image: url("/images/Group\ 14.png"), linear-gradient(223deg, rgba(140, 87, 238, 0.03), rgba(241, 68, 174, 0.03));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 140px;
}

.banner-ul {
    list-style: none;
    padding-bottom: 10px;
}

.banner-li {
    padding-bottom: 10px;
}

.banner-img {
    width: 40%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.banner-title {
    font-size: 48px;
    font-weight: 600;
}

.banner-goat {
    font-size: 65px;
    font-weight: 800;
}

.banner-goat-effect {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.sign-in {
    cursor: pointer;
    padding: 16px 20px;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

.go-rouge {
    cursor: pointer;
    padding: 16px 20px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.online-games-container,
.play-games-container {
    width: 80%;
    margin: auto;
    margin-bottom: 70px;
}

.online-games-title {
    text-align: center;
    margin-top: 100px;
}

.online-games-header {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.online-games-desc {
    text-align: center;
    padding: 24px 0px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.online-games-images {
    display: flex;
    gap: 16px;
    height: 300px;
    justify-content: center;
}

.online-games-image-1,
.img-text {
    color: #534C64;
    font-size: 12px;
    font-weight: 500;
    width: 220px;
    height: 280px;
}

.play-games-container {
    display: flex;
    align-items: center;
}

.play-games-img {
    width: 50%;
    position: relative;
}

.play-games-img img {
    width: 82%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.play-games-desc {
    width: 50%;
    padding-left: 100px;
}

.play-games-desc h2 {
    font-size: 40px;
    font-weight: 700;
}

.play-games-desc p {
    color: #534C64;
    font-size: 12px;
    font-weight: 400;
    margin: 5px;
    width: 400px;
}
.play-games-img-2{
    width: 46%;
    height: 50%;
    position: absolute;
    left: 70%;
    top: 60%;
}